.wappalyzer-icon {
	background: transparent !important;
	-moz-box-orient: vertical;
	list-style-image: url('chrome://wappalyzer/skin/icon32x32.png');
	margin-left: 7px;
	width: 32px;
	height: 32px;
}

