html {
	overflow: hidden;
}

body {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	margin: 0;
}

#overlay {
	background: #000;
	border-radius:         7px;
	-moz-border-radius:    7px;
	-webkit-border-radius: 7px;
	left: 0;
	height: 100%;
	opacity: .2; filter: alpha(opacity = 20);
	position: absolute;
	top: 0;
	width: 100%;
}

#apps {
	padding-top: 2px;
	position: absolute;
	width: 100%;
}

	#apps img {
		vertical-align: middle;
	}

	#apps a {
		color: #000;
		display: block;
		text-decoration: none;
	}

	#apps a:hover {
		color: #0072B6;
	}

	#apps .app, #apps #close {
		background: #fff;
		border-radius:         5px;
		-moz-border-radius:    5px;
		-webkit-border-radius: 5px;
		margin: 0 2px 2px 2px;
		padding: 7px 10px;
	}

	#apps .application {
		margin-bottom: 3px;
	}

	#apps .category {
		color: #999;
	}

	#apps #close {
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

	#apps .close:hover {
		background: #f4f4f4;
		color: #000;
	}
