body {
	background: #fff;
	color: #4a4a4a;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	min-width: 200px;
	overflow-x: hidden;
	padding: 15px;
}

a {
	color: #4a4a4a;
}

a:focus {
	outline: 0;
}

img {
	display: inline-block;
	height: 16px;
	margin-right: 8px;
	vertical-align: top;
	width: 16px;
}

.detected-app {
	padding: 7px 0;
}

.detected-app:first-child {
	padding-top: 0;
}

.detected-app:last-child {
	border: none;
	padding-bottom: 0;
}

	.detected-app a {
		color: #4608ad;
		display: block;
		text-decoration: none;
	}

	.detected-app a .label .name {
		border-bottom: 1px solid transparent;
	}

	.detected-app a:hover .label .name {
		border-bottom: 1px solid #4608ad;
	}

	.detected-app a .category .name {
		color: #4a4a4a;
		border-bottom: 1px solid transparent;
	}

	.detected-app a:hover .category .name {
		border-bottom: 1px solid #4a4a4a;
	}

.label {
	font-weight: bold;
}

.category {
	display: block;
	margin: 5px 0 0 24px;
}

.empty {
	color: #999;
	font-style: italic;
	text-align: center;
}
