:root {
  --color-primary: #4608ad;
  --color-secondary: #e0e0e0;
  --color-text: #4a4a4a;
}

body {
	background: #fff;
  direction: __MSG_@@bidi_dir__;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
	margin: 0;
  min-width: 30rem;
}

a {
  color: var(--color-primary);
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--color-secondary);
  height: 4rem;
  display: flex;
}

.header__logo {
  display: inline-block;
  margin: .2rem 1.5rem 0 1.5rem;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  height: 2.5rem;
}

.header__logo--dark {
  display: none;
}

.footer {
  align-items: center;
  border-top: 1px solid var(--color-secondary);
  height: 3rem;
  display: flex;
  padding: 0 1.5rem;
}

.detections {
  columns: 2;
  column-gap: 1.5rem;
  padding: 1.5rem;
}

.category {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding-bottom: 1rem;
}

.category__link {
  font-weight: bold;
  line-height: 2rem;
  text-decoration: none;
}

.technology {
  display: block;
  line-height: 1.7rem;
}

.technology__link {
  color: var(--color-text)
}

.terms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  height: 12rem;
  width: 36rem;
}

.terms__wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.terms__wrapper--active {
  display: block;
}

.terms__content {
  font-size: .9rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 1rem;
  width: 80%;
}

.terms__accept {
  background-color: #4608ad;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  padding: .8rem 3rem;
}

.terms__accept:hover {
  background-color: #4107a1;
}

.terms__privacy {
  margin-top: 1rem;
}
