:root {
  --color-primary: #4608ad;
  --color-primary-darken: #32067c;
  --color-secondary: #e0e0e0;
  --color-secondary-dark: rgba(255, 255, 255, .2);
  --color-text: #4a4a4a;
  --color-text-dark: rgba(255, 255, 255, .8);
  --color-light-grey: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
	background: #fff;
  color: var(--color-text);
  direction: __MSG_@@bidi_dir__;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
	margin: 0;
  min-width: 24rem;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

a {
  color: var(--color-primary);
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--color-secondary);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
}

.header__logo {
  height: 2.5rem;
  margin: .5rem 1.5rem 0 1.5rem;
}

.header__logo--dark {
  display: none;
}

.footer {
  align-items: center;
	background: #fff;
  bottom: 0;
  border-top: 1px solid var(--color-secondary);
  height: 3rem;
  display: flex;
  padding: 0 1.5rem;
  position: fixed;
  width: 100%;
}

.footer__cta {
  text-align: right;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.footer__cta a {
  border-bottom: 1px solid var(--color-secondary);
  text-decoration: none;
}

.footer__cta a:hover {
  border-bottom: 1px solid var(--color-primary);
}

.footer__open-in-new {
  color: var(--color-primary);
  height: 1.1rem;
  margin-left: .1rem;
  vertical-align: middle;
  width: 1.1rem;
}

.spacer {
  flex-grow:1;
}

.footer__icon {
  color: var(--color-primary);
  cursor: pointer;
  height: 1.1rem;
  margin-left: 1rem;
  vertical-align: middle;
  width: 1.1rem;
}

.footer__switch {
  height: 1.5rem;
  width: 1.5rem;
}

.footer__switch--hidden {
  display: none;
}

.footer__switch--disabled {
  color: var(--color-text);
}

.detections {
  columns: 2;
  column-gap: 3rem;
  padding: 1.5rem 1.5rem .5rem 1.5rem;
}

.detections--hidden {
  display: none;
}

.empty {
  opacity: .3;
  padding: 3rem 1.5rem 2.5rem 1.5rem;
  text-align: center;
}

.empty--hidden {
  display: none;
}

.category {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding-bottom: 1rem;
}

.category__link {
  font-weight: bold;
  line-height: 2rem;
  text-decoration: none;
}

.category__pin {
  color: var(--color-primary);
  cursor: pointer;
  display: none;
  visibility: hidden;
  height: 1.1rem;
  vertical-align: middle;
  width: 1.1rem;
}

.category__pin--outline {
  display: inline;
}

.category__pin--active {
  visibility: visible;
}

.category__pin.category__pin--active {
  display: inline
}

.category__pin--outline.category__pin--active {
  display: none
}

.category__heading {
  white-space: nowrap;
}

.category__heading:hover .category__pin {
  visibility: visible;
}

.technology {
  display: block;
  line-height: 1.7rem;
}

.technology__heading {
  display: flex;
  align-items: center;
  margin-bottom: .2rem;
}

.technology__icon {
  height: 16px;
  margin-right: .5rem;
  width: 16px;
  vertical-align: middle;
}

.technology__link {
  color: var(--color-text);
  display: block;
  width: 100%;
}

.technology__link .technology__name {
  border-bottom: 1px solid var(--color-secondary);
}

.technology__link:hover {
  text-decoration: none;
}

.technology__link:hover .technology__name {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.technology__confidence {
  opacity: .5;
  font-size: .7rem;
  margin-left: .4rem;
}

.technology__version {
  background: var(--color-secondary);
  border-radius: 3px;
  font-size: .7rem;
  padding: .1rem .3rem;
  margin-left: .2rem;
  vertical-align: middle;
}

.terms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  height: 14rem;
  width: 36rem;
}

.terms--hidden {
  display: none;
}

.terms__wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.terms__wrapper--active {
  display: block;
}

.terms__content {
  font-size: .9rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 1rem;
  width: 80%;
}

.terms__buttons {
}

.terms__button {
  background-color: #4608ad;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  padding: 0 2rem;
  margin: 0 .2rem;
  height: 3rem;
}

.terms__button--decline {
  background-color: white;
  border: 1px solid #4608ad;
  color: #4608ad;
}

.terms__privacy {
  margin-top: 1rem;
}

.options {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.options__label {
  display: block;
  margin-bottom: .5rem;
}

.options__cache {
  margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
  body.theme-mode {
    background: var(--color-primary-darken);
    color: var(--color-text-dark);
  }

  .theme-mode a {
    color: var(--color-text-dark);
  }

  .theme-mode .header {
    border-color: var(--color-secondary-dark)
  }

  .theme-mode .header__logo {
    display: none;
  }

  .theme-mode .header__logo--dark {
    display: inline-block;
  }

  .theme-mode .category__link {
    color: #fff;
  }

  .theme-mode .category__pin {
    color: #fff
  }

  .theme-mode .technology__link:hover .technology__name {
    border-bottom: 1px solid var(--color-text-dark);
    color: var(--color-text-dark);
  }

  .theme-mode .technology__confidence {
  }

  .theme-mode .technology__version {
    background: var(--color-primary);
  }

  .theme-mode .footer {
    background: var(--color-primary-darken);
    border-color: var(--color-secondary-dark)
  }

  .theme-mode .footer__settings {
    color: var(--color-text-dark);
  }

  .theme-mode .footer__icon {
    color: #fff;
  }

  .theme-mode .footer__open-in-new {
    color: #fff;
  }

  .theme-mode .technology__open-in-new {
    color: #fff;
  }
}
