:root {
  --color-primary: #4608ad;
  --color-primary-darken: #32067c;
  --color-primary-lighten: #f4f1fa;
  --color-secondary: #fafafa;
  --color-secondary-darken: #f5f5f5;
  --color-text: #4a4a4a;
  --color-text-dark: var(--color-primary-lighten);
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  direction: __MSG_@@bidi_dir__;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
	margin: 0;
  min-width: 24rem;
}

a, a:focus, a:hover {
  color: var(--color-primary);
  outline: none;
  text-decoration: underline;
}

.header {
  align-items: center;
  background: var(--color-primary);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.header__logo {
  height: 2.5rem;
  margin-top: .5rem;
}

.header__logo--light {
  display: none;
}

.header__icon {
  color: #fff;
  cursor: pointer;
  height: 1.1rem;
  margin-left: 1rem;
  vertical-align: middle;
  width: 1.1rem;
}

.header__icon--hidden {
  display: none;
}

.header__switch {
  height: 1.5rem;
  width: 1.5rem;
}

.header__switch--hidden {
  display: none;
}

.spacer {
  flex-grow: 1;
}

.footer {
	background: var(--color-primary-lighten);
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  padding: 1rem 1.5rem;
  width: 100%;
}

.footer--hidden {
  display: none;
}

.footer__heading {
  cursor: pointer;
  display: flex;
}

.footer__heading-text {
  flex: 1 0;
  font-size: 1rem;
  font-weight: bold;
}

.footer--collapsed .footer__heading {
  font-weight: inherit;
}

.footer--collapsed .footer__heading-text {
  font-size: .9rem;
  font-weight: inherit;
  opacity: .8;
}

.footer__toggle {
  flex: 0 1;
}

.footer--hidden {
  display: none;
}

.footer__heading {
  cursor: pointer;
  display: flex;
}

.footer__toggle {
  fle
  flex: 1;
  text-align: right;
}

.footer__toggle--hidden {
  display: none;
}

.footer__content {
  font-size: .85rem;
  letter-spacing: .5px;
  flex: 1 0 auto;
  opacity: .8;
  max-width: 400px;
}

.footer--collapsed .footer__content {
  display: none;
}

.footer__button {
  text-align: right;
}

.footer__button-link, .footer__button-link:active, .footer__button-link:hover {
  color: var(--color-primary);
  display: inline-block;
  font-size: .85rem;
  font-weight: bold;
  margin: -.3rem -1rem -.5rem 0;
  padding: .4rem 1rem .3rem 1rem;
  position: relative;
  text-decoration: none;
  text-align: right;
}

.footer__button-link:hover:before {
  background: var(--color-primary);
  border-radius: 4px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .1;
}

.footer--collapsed .footer__button {
  display: none;
}

.footer__icon {
  height: 1.2rem;
  margin: 0 -.4rem .1rem .2rem;
  width: 1.2rem;
  vertical-align: middle;
}

.detections {
	background: #fff;
  columns: 2;
  column-gap: 3rem;
  min-height: 200px;
  padding: 1.5rem 1.5rem .5rem 1.5rem;
}

.detections--hidden {
  display: none;
}

.empty {
	background: #fff;
  height: calc(100% - 4.5rem);
  padding: 2.5rem;
  text-align: center;
}

.empty__text {
  margin-bottom: 1.5rem;
}

.empty--hidden {
  display: none;
}

.category {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding-bottom: 1rem;
}

.category__link, .category__link:active, .category__link:hover {
  color: var(--color-text);
  font-weight: bold;
  line-height: 2rem;
  text-decoration: none;
}

.category__link:active, .category__link:hover {
  text-decoration: underline;
}

.category__pin {
  cursor: pointer;
  display: none;
  visibility: hidden;
  height: 1.1rem;
  vertical-align: middle;
  width: 1.1rem;
}

body.dynamic-icon .category__pin--outline {
  display: inline;
}

body.dynamic-icon .category__pin--active {
  visibility: visible;
}

body.dynamic-icon .category__pin.category__pin--active {
  display: inline
}

body.dynamic-icon .category__pin--outline.category__pin--active {
  display: none
}

.category__heading {
  white-space: nowrap;
}

body.dynamic-icon .category__heading:hover .category__pin {
  visibility: visible;
}

.technology {
  display: block;
  line-height: 1.2rem;
}

.technology__heading {
  display: flex;
  align-items: center;
  margin-bottom: .2rem;
}

.technology__icon {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--color-secondary);
  border-radius: 50%;
  flex: 0 0 auto;
  display: inline-flex;
  height: 32px;
  margin-right: .5rem;
  overflow: hidden;
  width: 32px;
}

.technology__icon img {
  display: block;
  height: 16px;
  margin: auto;
  width: 16px;
  vertical-align: middle;
}

.technology__link, .technology__link:active, .technology__link:hover {
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: .1rem 0;
  text-decoration: none;
  width: 200px;
}

.technology__name {
  font-size: .85rem;
  letter-spacing: .5px;
  text-decoration: underline;
}

.technology__confidence {
  background: var(--color-primary-lighten);
  color: var(--color-primary);
  border-radius: 3px;
  font-size: .7rem;
  padding: .1rem .3rem;
  margin-left: .3rem;
  vertical-align: middle;
  white-space: nowrap;
}

.technology__version {
  background: var(--color-secondary-darken);
  color: var(--color-text);
  border-radius: 3px;
  font-size: .7rem;
  padding: .1rem .3rem;
  margin-left: .3rem;
  vertical-align: middle;
}

.terms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16rem;
  width: 36rem;
}

.terms--hidden {
  display: none;
}

.terms__wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.terms__wrapper--active {
  display: block;
}

.terms__content {
  font-size: .9rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 1rem;
  width: 80%;
}

.terms__button {
  background-color: #4608ad;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  padding: 0 2rem;
  margin: 0 .2rem;
  height: 3rem;
}

.terms__button--decline {
  background-color: white;
  border: 1px solid #4608ad;
  color: #4608ad;
}

.terms__privacy {
  margin-top: 1rem;
}

.options {
  background: white;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.options__label {
  display: block;
  margin-bottom: .5rem;
}

.options__cache {
  margin-top: 1rem;
}

.ttt-game {
  display: flex;
  align-items: center;
  margin: auto;
  width: 13rem;
}

.ttt-player-icon {
  color: var(--color-primary);
  width: 1.2rem;
  height: 1.2rem;
}

.ttt-player-icon--hidden {
  display: none;
}

.ttt-score {
}

.ttt-grid {
  background: var(--color-primary-lighten);
  border-radius: 4px;
  line-height: 0;
  margin: auto;
  width: calc(6rem + 2px);
}

.ttt-cell {
  border: 1px solid var(--color-primary);
  border-width: 1px 0 0 1px;
  display: inline-block;
  padding: .2rem;
  width: 2rem;
  height: 2rem;
}

.ttt-row:first-child .ttt-cell {
  border-top: none;
}

.ttt-cell:first-child {
  border-left: none;
}

.ttt-icon {
  display: none;
  height: 100%;
  width: 100%;
}

.ttt-cell .ttt-icon {
  color: var(--color-primary);
  display: block;
}

.ttt-blink .ttt-icon {
  animation: blink 250ms step-end 0s 3;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Dark mode */

.dark {
  color: var(--color-text-dark);
}

.dark .detections {
  background: var(--color-primary-darken);
}

.dark .empty {
  background: var(--color-primary-darken);
}

.dark .category__link, .dark .category__link:active, .dark .category__link:hover {
  color: white;
}

.dark .technology__link {
  color: var(--color-text-dark);
}

.dark .technology__name {
  opacity: .8;
}

.dark .technology__icon {
}

.dark .technology__version {
  background: var(--color-primary);
  color: var(--color-text-dark);
}

.dark .technology__confidence {
  background: var(--color-primary);
  color: var(--color-text-dark);
}

.dark .footer {
  background: var(--color-primary-darken);
  border-top: 1px solid var(--color-primary);
  color: var(--color-text-dark);
}

.dark .footer__button-link, .dark .footer__button-link:active, .dark .footer__button-link:hover {
  color: var(--color-text-dark);
}

.dark .footer__button-link:hover:before {
  background: var(--color-primary-lighten);
}


.dark .terms__button {
  background-color: white;
  color: var(--color-primary);
}

.dark .terms__button--decline {
  background-color: var(--color-primary-darken);
  border: 1px solid white;
  color: white;
}

.dark .ttt-player-icon {
  color: var(--color-primary-lighten);
}
