/build/*
/src/images/icons/converted/*
/src/manifest.json
/src/manifest.bak.json

node_modules
package-lock.json

!.gitkeep

Thumbs.db
Desktop.ini
*.DS_Store
*.log
._*
tags
tags.*
.idea
/nbproject/private/
src/out.json

keys.json
