#urlbar-icons #wappalyzer-container {
	margin-left: 2px;
}

.wappalyzer-icon {
	margin-left: 4px !important;
	width: 16px;
	height: 16px;
}

#wappalyzer-statubar #wappalyzer-icon {
	margin-left: 0 !important;
}

#wappalyzer-detected-apps label {
	margin: 0 0 0 .3em;
}
