#urlbar-icons #wappalyzer-container {
	margin-left: 2px;
}

.wappalyzer-icon {
	margin-left: 4px !important;
	width: 16px;
	height: 16px;
}

#wappalyzer-statubar #wappalyzer-icon {
	margin-left: 0 !important;
}

#wappalyzer-detected-apps label {
	padding-top: 2px;
	margin: 0 1px 0 4px;
}

#wappalyzer-option-custom-apps {
	font-family: monospace !important;
}
